In [ ]:
pip install mysql-connector-python

In [ ]:
import mysql.connector

# Replace with your own MySQL server credentials
host = 'localhost'
user = 'your_username'
password = 'your_password'

# Establishing a connection to the MySQL server
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password
)

# Creating a cursor object to interact with the MySQL server
cursor = connection.cursor()

# Creating a new database
cursor.execute("CREATE DATABASE mydatabase")

# Closing the cursor and connection
cursor.close()
connection.close()

print("Database 'mydatabase' created successfully.")

In [ ]:
import mysql.connector

# Replace with your own MySQL server credentials and database name
host = 'localhost'
user = 'your_username'
password = 'your_password'
database = 'mydatabase'

# Establishing a connection to the MySQL server
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database
)

# Creating a cursor object to interact with the MySQL server
cursor = connection.cursor()

# Creating a new table
create_table_query = """
CREATE TABLE IF NOT EXISTS employees (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    age INT NOT NULL,
    department VARCHAR(255) NOT NULL
)
"""
cursor.execute(create_table_query)

# Inserting records into the table
insert_query = """
INSERT INTO employees (name, age, department)
VALUES (%s, %s, %s)
"""
records_to_insert = [
    ('John Doe', 28, 'Sales'),
    ('Jane Smith', 32, 'Marketing'),
    ('Emily Davis', 25, 'Development')
]

# Executing the insert query for each record
cursor.executemany(insert_query, records_to_insert)

# Committing the transaction
connection.commit()

# Closing the cursor and connection
cursor.close()
connection.close()

print("Table 'employees' created and records inserted successfully.")

In [ ]:
import mysql.connector

# Replace with your own MySQL server credentials
host = 'localhost'
user = 'your_username'
password = 'your_password'

# Establishing a connection to the MySQL server
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password
)

# Creating a cursor object to interact with the MySQL server
cursor = connection.cursor()

# Creating a new database
cursor.execute("CREATE DATABASE IF NOT EXISTS mydatabase")

# Selecting the newly created database
connection.database = 'mydatabase'

# Creating a new table
create_table_query = """
CREATE TABLE IF NOT EXISTS employees (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    age INT NOT NULL,
    department VARCHAR(255) NOT NULL
)
"""
cursor.execute(create_table_query)

# Inserting records into the table
insert_query = """
INSERT INTO employees (name, age, department)
VALUES (%s, %s, %s)
"""
records_to_insert = [
    ('John Doe', 28, 'Sales'),
    ('Jane Smith', 32, 'Marketing'),
    ('Emily Davis', 25, 'Development')
]

# Executing the insert query for each record
cursor.executemany(insert_query, records_to_insert)

# Committing the transaction
connection.commit()

# Closing the cursor and connection
cursor.close()
connection.close()

print("Database 'mydatabase' created, table 'employees' created, and records inserted successfully.")